@import './utils/variables';

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  // background-color: $primary;
  // color: $secondary;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  // line-height: 1.5;
}

// a {
//   color: $secondary;
// }

// p {
//   margin: 0;
//   // line-height: 1.5;
//   line-height: 1.75;
// }

// ::selection {
//   background: #512DA8;
//   color: $secondary;
// }
